/* file uploader */
.loadfile-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-width: 60vw;
    min-height: 200px;
    font-size: 1.3em;
}

.activity-link{
    margin-top: 20px;
}