<div class="about">
    <div class="about-button-container">
        <a href="#" class="about_button" (click)="onAbout()">
            <li class="material-icons">help_outline</li>
        </a>
    </div>
    <div (click)="!show_about ? null: onAbout()" [ngClass]="{about_container:true,hide:!show_about, show:show_about}">
        <h2>Calculate your total time spent on Netflix</h2>
        <h3>This site is inspired by
            <a href="http://tiii.me/" target="_blank" rel="noopener noreferrer">tiii.me</a> (<a
                href="http://alexcican.com" tabindex="">Alex Cican</a>)
        </h3>
        <p>
            Fork this project on
            <a href="https://github.com/gromney/viewing-activity" rel="nofollow" tabindex="">GitHub</a>
        </p>
        <small>
            Movies and TV shows API by
            <a href="https://www.themoviedb.org/" rtitle="The Movie Database">
                The Movie Database
            </a>.
        </small>
    </div>

</div>